.tutorial li.label, .notice li.label {
    font-size: 14px;
    line-height: 1.35;
    padding: 12px 0;
}
.tutorial .modal-content, .notice .modal-content {
    position: relative;
}
.tutorial .modal-content .footer {
    bottom : 8px;
    right : 8px;
    position: absolute;
}

